body {
  width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width : 400px) {
  body {
    width: 360px;
    margin: 0 auto;
  }
}


.text {
  width: calc(100% - 40px);
  margin: 20px;
}

.example {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px darkgray;
  border-radius: 10px;
  width: calc(100% - 40px);
  margin: 20px;

}

.add-section {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: solid 1px darkgray;
}

.add-button {
  width: 120px;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 50%;
  background-color: red;
}

.square {
  width: 25px;
  height: 25px;
  margin: 10px;
  background-color: green;
}

.item-list {
  box-shadow: inset 0px 0px 5px -1px rgba(0,0,0,0.75);
  border-bottom-left-radius: 10px;
  display: inline-block;
  width: 50%
}

.item-list ~ .item-list {
  border-left: solid 1px darkgray;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
}

.item-list .counter {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px darkgray;
}

.item-list .items {
  display: flex;
  flex-wrap: wrap;
  min-height: 10px;
  padding: 5px;
}
